@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body {
  @apply bg-[zinc-100] text-[#1f2937] tracking-wide scroll-smooth;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  @apply font-bold;
 }

 h1 {
  @apply text-4xl sm:text-5xl md:text-6xl;
 }

 h2 {
  @apply text-3xl sm:text-4xl;
 }
 h3 {
  @apply text-2xl sm:text-4xl;
 }

 li {
  @apply cursor-pointer;
 }
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

@layer utilities {
 .clip-bg {
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
 }
}
