#upcomingShows {
    scroll-margin-top: 75px;
}

#contact {
    scroll-margin-top: 75px;
}

#hosts {
    scroll-margin-top: 100px;
}

#mediaKit {
    scroll-margin-top: 75px;
}

#services {
    scroll-margin-top: 75px;
}

#sponsors {
    scroll-margin-top: 75px;
}

#recordings {
    scroll-margin-top: 75px;
}

#photos {
    scroll-margin-top: 75px;
}